@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #1b5aff;
  --black: #25262a;
  --golden-gray: #eeebe6;
  --radius: 10;
  --dark-input-bg: #25262a;
  --form-bg: #1f2024;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .transition-width {
    transition: width 0.3s;
  }
  .border-red {
    border: 2px solid red;
  }
}
