@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #1b5aff;
  --black: #25262a;
  --golden-gray: #eeebe6;
  --radius: 10;
  --dark-input-bg: #25262a;
  --form-bg: #1f2024;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed;

    --golden-gray: #eeebe6;
    --radius: 10;
    --dark-input-bg: #25262a;
    --form-bg: #1f2024; */
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .transition-width {
    transition: width 0.3s;
  }
  .border-red {
    border: 2px solid red;
  }
}
